.mobile-menu{
    position: absolute;
    height: 300px;
    display: none;
    width: 300px;
    background-color: #131921;
    border-radius: 5px;
    top: 60px;
    right: 2px;
}



@media screen and (max-width:800px) {
    .mobile-menu .header-link{
        display: block;
    }
    .mobile-menu-link{
        margin: 20px 0;
    }
}